/**********************STYLE A tout le contenu ******************************/

body{

    background-color: #252A30 !important;
    font-family: Poppins !important;
    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    color: white !important;

}
.row{
    margin: 0px !important;
}
.separateur{
    padding: 15px;
}
/**********************STYLE APPLIQUER AU MENU ******************************/
.navbar{
    background-color: #252A30;
    border-radius: 2px !important;
    border-bottom: 2px solid black;


}
.nav-item{
    margin-right: 25px;
}
.nav-link{
    color: white !important;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px !important;
    padding: 5px !important;
    padding-bottom: 0px !important;

}

.nav-link:hover{

    color: #0075FF !important;
    border-bottom-width: 1px !important;
    border-bottom-style:solid !important;
    border-bottom-color: #0075FF !important;
    transition: 4ms !important;

}
.navbar-toggler{
    color: white !important;
    font-size: 40px !important;
}

/*.nav-link.active {
    background-color: inherit !important;
    border-bottom: 2px solid #0075FF !important ;
    color: #0075FF !important;
}*/
/*********************ACCUEIL**********************************/
.imageProfil{
    width: 300px !important;
    box-shadow: inset 0px 0px 10px #000000 !important;
    border: 8px solid rgba(0,0,0, 0.3) !important;
}
.bntdownloadcv{
    box-shadow: inset 0px 0px 30px #252A30 !important;
    border: 3px solid rgba(0,0,0, 0.3) !important;
    border-radius: 15px;
    padding: 5px;
    background-color: #252A30;
    color: #0075FF !important;
}
.bntdownloadcv:hover{
    background: white !important;
    color: #363C48 !important;

}
.icon{
    text-decoration: none !important;
    box-shadow: 0px 0px 2px #000000 !important;
    border: 1px solid rgba(0,0,0, 0.3) !important;
    padding: 15px !important;
    color: white !important;
    word-wrap: break-word;
}

.lientelecharcher{
    text-decoration: none!important;
    color: #0075FF !important;
}


/*************************** MES COMPETENCES ****************************/
.progress{
    background-color: #252A30 !important;
    border: 5px solid rgba(0,0,0, 0.3) !important;
    box-shadow: 0px 0px 1px rgba(0,0,0, 0.5) !important;
    height: 15px !important;
    border-radius: 15px !important;
}
.progress-bar{
    background-color: gray !important;
    border-radius: 15px !important;
}
.competencecontent{
    font-size: 14px !important;
    margin-left: 5px !important;
}
/*************************** MON PROFIL ****************************/

.card-img-top{
    width: 100%;
    height: 300px;
    background-size : contain;
    border: 5px solid rgba(0,0,0, 0.3) !important;
    box-shadow: inset 0px 0px 1px rgba(0,0,0, 0.5) !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black !important;
}
.lienprojet{
    padding: 5px;
    border-radius: 15px;
    text-decoration: none;
    color: #0075FF;
    border: 2px solid white;
    box-shadow: inset 10px 5px 10px black ;
}

/****************************CONTACT*******************************************/
.contactContent{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.contactForm{
    margin-top: 5px;
}
label{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px;
    color: white; !important;
}
input, textarea{
    color: white !important;
    background-color: #252A30 !important;
    border-radius: 15px !important;
    outline: none !important;
    border: 0px !important;
    border-bottom: 1px  solid black !important;
    box-shadow: 0px 0px 2px #918f8f;
}
.iconTest{
    font-size: 16px;
}
/************************ ALERTE BOUTTON **************************************/
/*
#example {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}
#example div {
    width: 350px;
    height: 80px;
    margin: 100px auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border: 3px solid #cccccc;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
*/

/********* PARTIE FOOTER *************/
 .footer {
     height: 75px;
     width: 100%;
     border-top: 1px solid black;
     background-color: #252A30;
     color: white;
     text-align: center;
 }