
.navbar{
    background-color: #252A30;
}
.nav-item{
    margin: 2px;
}
.nav-link{
    color: white !important;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px !important;
    padding: 5px !important;
    padding-bottom: 0px !important;
}
.nav-link:hover{
    color: #0075FF !important;
}


.navbar-toggler-icon{
    background-color: white !important;
}

.titreMenu{
    background-color: #252A30;
    color: white;
    margin-top: -15px;
    width: 300px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    font-family: Poppins;
}
hr{
    height: 8px;
    background-color: black !important;
    opacity: 1 !important;
}
.separateur{
    padding: 30px;
}

.nav-pills{
    margin-left: 50px;
}
.nav-pills .nav-link.active {
    background-color: inherit !important;
    border-bottom: 2px solid #0075FF !important ;
    color: #0075FF !important;
}

.contentBody{
    margin: 5px;
}
/************************** SCROLL VERS LE HAUT *************************/
#btnscrolhaut {
    display: none; /* pour cacher le boutton par defaut */
    position: fixed; /* pour fixer le positionnement du boutton */
    bottom: 20px; /* Pour placer le boutton en bas du page */
    right: 30px; /* Pour placer le boutton à 30px vers la droit */
    z-index: 99; /* Assurez-vous qu'il ne se chevauche pas */
    border: none; /* Pour supprimer la bordure */
    outline: none; /* pour supprimer la bordure outline */
    background-color: #252A30; /* couleur du font du boutton */
    color: white; /* Couleur du text du boutton */
    cursor: pointer; /* Ajouter un pointeur de souris au survol */
    font-size: 35px; /* Increase font size */
}

#btnscrolhaut:hover {
    background-color: #0075FF; /* Add a dark-grey background on hover */
}



/***************************** CSS APPLIQUER A L'ACCUEIL ***********************************************/
.nomColor{
    color: #0075FF !important;
    font-weight: 600;
}
.accueilbody{
    font-family: Poppins;
    font-style: normal;
    font-size: 22px;
    color: #000000;
}
.accueilTitre, .contenuApropos, .descriptionportfolio, .infonContact, .descriptioncompetence{

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    /* identical to box height */
    color: #000000;
}

.accueil{
    box-sizing: border-box;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #000000;
    border-radius: 0px !important;
}


.imageContent{

    width: 450px;
    height: 450px;
    border-radius: 0px 0px 0px 133px;
    object-fit: cover;
    background-color: #363C48;
    box-shadow: 20px -20px 2px #D9D9D9;
}
.hr{
    margin-top: 0px;
    width: 50%;
}



/*CSS APROPOS */
.contenuApropos{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 50px;

    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 150px 0px;
}


/*CONTENU COMPETENCE*/
.bg-info1{
    background-color: #0075FF !important;
}
.buttonTelecharger{
    background: #363C48 !important;
    border: 1px solid #000000;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.4);
    color: white !important;
    transition: 0.4s;
}
.lientelecharcher{
    text-decoration: none!important;
    color: white !important;
}
.lientelecharcher:hover{
    text-decoration: none;
    color: #363C48 !important;
}

.buttonTelecharger:hover{
    background: white !important;
    border: 1px solid #000000 !important;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.4);
    color: #363C48 !important;

}

.contenuCompetence{

    padding: 10px;
    background: rgba(217, 217, 217, 0.2);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.back, .front, .cms, .divers{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 18px;
    /* identical to box height */
    color: #000000;
    text-transform: uppercase !important;
}
.contentBack, .contentFront, .contentCMS, .contentDIVERS{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px;
    /* identical to box height */
    color: #000000;
    text-transform: uppercase !important;
}

.col1competence{
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding: 5px;
}

.col2competence{
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding: 5px;
    image-rendering: smooth;
}

/***************************** CONTENU PORTFOLIO ****************************/
.portfolioContent{

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 30px;

    background: rgba(217, 217, 217, 0.2);
    border: 1px solid #000000;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    /*border-radius: 0px 0px 0px 145px;*/

}
.card-title1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 20px;
    /* identical to box height */
    color: #000000;
}
.card-text1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 18px;
    /* identical to box height */
    color: #000000;
}

.card1{
    height: 400px !important;
    margin-bottom: 15px;
}

#afficherplus {
    display: none;
}

.card-img-top{
    height: 200px;
    background-size : contain;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black !important;
}

/**************** PARTIE CONTACT *******************************/
.blockprincipal{
    border: 1px solid #000000;

    background-color: white;
}

.bi-facebook{
    color: #0075FF;
    margin-right: 50px !important;
}

.bi-twitter{
    color: #0075FF;
    margin-right: 50px !important;
}

.bi-linkedin{
    color: #0075FF;
    margin-right: 50px !important;
}

.bi-github{
    color: #252A30;
    margin-right: 50px !important;
}
.bi-telephone-fill{
    color: #252A30;
    margin-right: 50px !important;
}

.github{
    border: 2px solid #252A30 !important;
    color: #252A30;
    opacity: 0.2;
}

.fb {
    border: 2px solid #0075FF !important;
    color: #0075FF;
    opacity: 0.2;
}

.twitter {
    border: 2px solid #0075FF !important;
    color: #0075FF;
    opacity: 0.2;

}


.linkedin{
    border: 2px solid #0075FF !important;
    color: #0075FF;
    opacity: 0.2;
}
.telephone{
    border: 2px solid #252A30 !important;
    color: #252A30;
    opacity: 0.2;
}

.btn1 {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */

    font-family: Poppins;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 18px;
    ;
}
.btn1:hover {
    opacity: 1;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 18px;
    /* identical to box height */
    color: #000000 !important;
}

.contactContent{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.contactForm{
    margin-top: 5px;
}
label{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 18px;
    /* identical to box height */
    color: #000000;
}
input, textarea{
    border-radius: 0px !important;
    border: 0px !important;
    border-bottom: 1px  solid black !important;
    box-shadow: 1px 1px 2px #918f8f;
}

/********* PARTIE FOOTER *************/
.footer {
    height: 75px;
    width: 100%;
    background-color: #252A30;
    color: white;
    text-align: center;
}







/*****************ADAPTION AU PETIT ECRAN*****************************/

@media  screen and (max-width: 450px) {

    /***************************** CSS APPLIQUER A L'ACCUEIL ***********************************************/

.accueilbody{
    font-size: 100%;
    color: #000000;
}
.accueilTitre, .contenuApropos, .descriptionportfolio, .infonContact, .descriptioncompetence{
    font-size: 18px;
    color: #000000;

}

.accueil{
    width: 100% !important;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #000000;
    border-radius: 0px !important;
}


.imageContent{
    width: 300px;
    height: 300px;
    border-radius: 0px 0px 0px 100px;
    object-fit: cover;
    background-color: #363C48;
    box-shadow: 15px -15px 2px #D9D9D9;
}

/*CSS APROPOS */

.contenuApropos{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 0px 0px 100px 0px;
}

/******** CONTENU COMPETENCE ***********/
.col1competence{
    display: none;
}

.col2competence{
    display: none;
}

/************CONTENU CONTACT *********************/
label{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 15px;
    /* identical to box height */
    color: #000000;
}
.blockprincipal{
display: none;
}

}